version: '3.8'

services:
  # Zookeeper: Coordinador de Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # Kafka Broker: El corazón del sistema
  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # UI para Kafka: Para que puedas ver los mensajes visualmente
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092

  # Redis: Para análisis de frecuencia (ej. 5 transacciones en 1 minuto)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # MongoDB: Para guardar el histórico de transacciones procesadas
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # Microservicio Producer API
  producer-api:
    build: 
      context: .
      dockerfile: services/producer-api/Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - kafka

  # Microservicio Fraud Analyzer
  fraud-analyzer:
    build:
      context: .
      dockerfile: services/fraud-analyzer/Dockerfile
    env_file:
      - .env
    depends_on:
      - kafka
      - redis
    restart: always # Reiniciar si Kafka aún no está listo

  # Microservicio Notification Service
  notification-service:
    build:
      context: .
      dockerfile: services/notification-service/Dockerfile
    env_file: .env
    depends_on:
      - kafka
      - mongodb

volumes:
  mongo-data: